{% import "macros.jinja" as macros %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ site_title }} - {{ file_name }}</title>

    {{ macros.setup(vue_url, icon, css_url) }}

    <meta property="og:title" content="{{ tagline }}"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta property="og:url" content="{{ base_url }}/{{ file_name }}"/>
    <meta property="og:image" content="{{ url }}"/>
    <meta property="og:type" content="article"/>
    <meta data-react-helmet="true" name="theme-color" content="{{ light_purple }}"/>
    <meta name="twitter:card" content="summary_large_image"/>
    <meta content="{{ light_purple }}" data-react-helmet="true" name="theme-color"/>
  </head>

  <body class="scrollbar-hide">
    <div id="container" class="bg-slate-800 text-gray-200 flex flex-row min-h-screen w-screen pb-6 md:flex-col">

      {{ macros.navbar("None", site_url) }}

      <!-- <BG> <TXT> <DISP> <SUBD> <H> <W> <M> <P> <ETC>-->
      <div id="post-container" class="w-2/3 mr-11 ml-11 self-center md:mr-0 md:ml-0">
        <div class="mt-6 flex-col rounded-lg border-2 border-purple-500 bg-slate-700 px-6 text-center shadow-lg shadow-gray-900">
          <h1 class="pt-6 text-2xl font-bold">{{ file_name }}</h1>
          <hr class="mt-6 mb-1 h-px border-0 bg-slate-800" />
          <img alt="{{ file_name }}" src="{{ url }}" class="max-h-[40rem] mx-auto pt-5"/>
          <hr class="mt-6 mb-1 h-px border-0 bg-slate-800" />
          <p class="pb-2 text-xs">Post by {{ author }} - {{ timestamp }} - Thanks for visiting!</p>
        </div>
      </div>
    </div>
  </body>
</html>
